.venv
amazon_prime
amazon
credentials.json
client_secrets.json
service_account.json
token_refresh.json
prime_D01-3598561-0389456.pdf
__pycache__
facture_test
facture/pas traiter/Invoice-SIB-266111.pdf
facture/pas traiter/Invoice-SIB-266136.pdf
facture/pas traiter/Invoice-SIB-270500.pdf
facture/pas traiter/Invoice-SIB-328721.pdf
facture/test_facture_uniquement_1_fichier/Invoice-SIB-226716.pdf
