.venv
amazon_prime
amazon
credentials.json
client_secrets.json
service_account.json
token_refresh.json
prime_D01-3598561-0389456.pdf
__pycache__
facture_test
facture/pas traiter/Invoice-SIB-266111.pdf
facture/pas traiter/Invoice-SIB-266136.pdf
facture/pas traiter/Invoice-SIB-270500.pdf
facture/pas traiter/Invoice-SIB-328721.pdf
facture/test_facture_uniquement_1_fichier/Invoice-SIB-226716.pdf
ContenuePdf/brevo_SIB-226716.txt
ContenuePdf/brevo_SIB-266111.txt
ContenuePdf/brevo_SIB-266136.txt
ContenuePdf/brevo_SIB-270500.txt
ContenuePdf/brevo_SIB-328721.txt
facture/archiver/brevo_SIB-226716.pdf
facture/archiver/brevo_SIB-266111.pdf
facture/archiver/brevo_SIB-266136.pdf
facture/archiver/brevo_SIB-270500.pdf
facture/archiver/brevo_SIB-328721.pdf
ContenuePdf/adobe_2023035802811.txt
.gitignore
ContenuePdf/adobe_2023041130084.txt
ContenuePdf/suite-adobe_2023035802811.txt
facture/archiver/adobe_2023035802811.pdf
facture/archiver/adobe_2023041130084.pdf
